
div.toboggan-container {
    text-align: center;
}

div.toboggan-login-link-container {
    text-align: left;
}

div.toboggan-login-link-container a {
    text-decoration: none;
}

div.toboggan-block-message {
    text-align: left;
}

div.user-login-block {
    text-align: left;
}

div.user-login-block a {
    text-align: left;
}

/* Unified login */

.toboggan-unified #login-message {
    text-align: center;
    font-size: 2em;
    line-height: 1.2;
}

.toboggan-unified #login-links {
    text-align: center;
    font-size: 1.5em;
    line-height: 2.7;
}

.toboggan-unified #login-links a {
    padding: .5em;
    border: 1px #666 solid;
    background-color: #EEE;
}

.toboggan-unified #login-links a:hover {
    background-color: #DDD;
}

.toboggan-unified #login-links a.lt-active,
.toboggan-unified #login-links a.lt-active:hover {
    background-color: #FFF19A;
    border: 2px #333 solid;
}

.toboggan-unified.login #register-form {
    display: none;
}

.toboggan-unified.register #login-form {
    display: none;
}


/*
     FILE ARCHIVED ON 16:25:12 Mar 06, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:14:52 Aug 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.603
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.015
  esindex: 0.01
  cdx.remote: 12.383
  LoadShardBlock: 185.326 (3)
  PetaboxLoader3.datanode: 125.795 (5)
  PetaboxLoader3.resolve: 151.882 (2)
  load_resource: 131.619
  loaddict: 34.319
*/
