/* Avoid scroll bar issues when the slider is next to the edge of the page */
.flexslider .flex-direction-nav a,
.flexslider .flex-direction-nav a {
    display: none;
}
.flexslider:hover .flex-direction-nav a,
.flexslider:hover .flex-direction-nav a {
    display: block;
}
/*
     FILE ARCHIVED ON 16:06:48 Mar 06, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:17:11 Aug 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.3
  exclusion.robots: 0.792
  exclusion.robots.policy: 0.023
  esindex: 0.01
  cdx.remote: 12.649
  LoadShardBlock: 115.261 (3)
  PetaboxLoader3.datanode: 104.61 (5)
  PetaboxLoader3.resolve: 120.653 (2)
  load_resource: 143.555
  loaddict: 14.93
*/
