.ctools-locked {
    color: red;
    border: 1px solid red;
    padding: 1em;
}

.ctools-owns-lock {
    background: #ffffdd none repeat scroll 0 0;
    border: 1px solid #f0c020;
    padding: 1em;
}

a.ctools-ajaxing,
input.ctools-ajaxing,
button.ctools-ajaxing,
select.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(/sites/all/modules/ctools/images/status-active.gif) right center no-repeat;
}

div.ctools-ajaxing {
    float: left;
    width: 18px;
    background: url(/sites/all/modules/ctools/images/status-active.gif) center center no-repeat;
}

/*
     FILE ARCHIVED ON 16:09:41 Mar 06, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:16:35 Aug 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.641
  exclusion.robots: 0.031
  exclusion.robots.policy: 0.02
  esindex: 0.011
  cdx.remote: 13.043
  LoadShardBlock: 115.193 (3)
  PetaboxLoader3.datanode: 116.994 (5)
  PetaboxLoader3.resolve: 279.469 (2)
  load_resource: 303.606
  loaddict: 37.817
*/
