.views-exposed-form .views-exposed-widget {
    float: left; /* LTR */
    padding: .5em 1em 0 0; /* LTR */
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
}

.views-exposed-form .form-item,
.views-exposed-form .form-submit {
    margin-top: 0;
    margin-bottom: 0;
}

.views-exposed-form label {
    font-weight: bold;
}

.views-exposed-widgets {
    margin-bottom: .5em;
}

/* table style column align */
.views-align-left {
    text-align: left;
}
.views-align-right {
    text-align: right;
}
.views-align-center {
    text-align: center;
}

/* Remove the border on tbody that system puts in */
.views-view-grid tbody {
    border-top: none;
}

.view .progress-disabled {
    float: none;
}

/*
     FILE ARCHIVED ON 01:00:52 Mar 07, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:16:16 Aug 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.514
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.015
  esindex: 0.011
  cdx.remote: 6.685
  LoadShardBlock: 189.328 (3)
  PetaboxLoader3.resolve: 185.731 (3)
  PetaboxLoader3.datanode: 143.256 (5)
  load_resource: 189.92
  loaddict: 64.138
*/
