#views-slideshow-form-wrapper .form-item.dependent-options {
    padding-left: 5px;
}

#views-slideshow-form-wrapper .vs-dependent {
    padding-left: 30px;
}

/*
     FILE ARCHIVED ON 16:05:42 Mar 06, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:11:17 Aug 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.526
  exclusion.robots: 0.029
  exclusion.robots.policy: 0.018
  esindex: 0.01
  cdx.remote: 8.234
  LoadShardBlock: 101.473 (3)
  PetaboxLoader3.datanode: 59.545 (5)
  PetaboxLoader3.resolve: 100.711 (2)
  load_resource: 84.207
  loaddict: 13.918
*/
