
.node-unpublished {
    background-color: #fff4f4;
}
.preview .node {
    background-color: #ffffea;
}
td.revision-current {
    background: #ffc;
}

/*
     FILE ARCHIVED ON 16:18:45 Mar 06, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:15:12 Aug 15, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.485
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.015
  esindex: 0.009
  cdx.remote: 36.37
  LoadShardBlock: 99.914 (3)
  PetaboxLoader3.datanode: 109.545 (5)
  PetaboxLoader3.resolve: 144.127 (2)
  load_resource: 192.483
  loaddict: 55.487
*/
